.App{
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pallete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  margin: 8px;
}


#pixels{
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}

#drawingPanel{
  border: 3px solid gray;
  width: fit-content;

}

#drawcont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


img{
  width: 200px;
  height: 200px;
}

#resultImg{
  border: 1px solid black;
  width: 400px;
  height: 400px;
}



