.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#pallete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  margin: 8px;
}


#pixels{
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}

#drawingPanel{
  border: 3px solid gray;
  width: fit-content;
}

